<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout-admin}">
<head>
    <meta charset="UTF-8">
    <title>Xóa sản phẩm (AJAX + GraphQL)</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var contextPath = /*[[@{/}]]*/ '/';
        if (contextPath && !contextPath.endsWith('/')) { contextPath = contextPath + '/'; }
        var graphqlEndpoint = contextPath + 'graphql';
        /*]]>*/
    </script>
</head>
<body>
<div layout:fragment="content" class="container py-3">
    <!-- Modal Delete Product -->
    <div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteProductLabel">Xác nhận xóa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có chắc chắn muốn xóa sản phẩm này?</p>
                    <input type="hidden" id="delete_productid">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnConfirmDelete">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function gqlRequest(query, variables) {
            return $.ajax({
                url: graphqlEndpoint,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ query: query, variables: variables || {} })
            }).then(function (res) {
                if (res.errors) {
                    throw (res.errors[0] && res.errors[0].message) || 'GraphQL error';
                }
                return res.data;
            });
        }
        function getQueryParam(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }
        function goBackToList() {
            window.location.href = contextPath + 'admin/products/ajax/list';
        }
        $(document).ready(function () {
            var id = getQueryParam('id');
            if (!id) {
                alert('Thiếu tham số id');
                return goBackToList();
            }
            $('#delete_productid').val(id);
            try {
                var delEl = document.getElementById('deleteProductModal');
                var modal = bootstrap.Modal.getInstance(delEl) || new bootstrap.Modal(delEl);
                modal.show();
            } catch (e) {
                $('#deleteProductModal').modal('show');
            }

            $('#btnConfirmDelete').on('click', function () {
                var idDel = $('#delete_productid').val();
                gqlRequest(`mutation($id: ID!){ deleteProduct(id: $id) }`, { id: idDel })
                    .then(function (data) {
                        var ok = data && data.deleteProduct === true;
                        if (ok) {
                            try {
                                var delEl2 = document.getElementById('deleteProductModal');
                                var modal2 = bootstrap.Modal.getInstance(delEl2) || new bootstrap.Modal(delEl2);
                                modal2.hide();
                            } catch (e) {
                                $('#deleteProductModal').modal('hide');
                            }
                            goBackToList();
                        } else {
                            alert('Xóa thất bại');
                        }
                    })
                    .catch(function (err) { alert('Lỗi: ' + err); });
            });

            $('#deleteProductModal').on('hidden.bs.modal', function () {
                goBackToList();
            });
        });
    </script>
</div>
</body>
</html>